[user]
	name = hiroki
	email = functionp@gmail.com
[core]
	editor = emacs
    excludesfile = ~/.gitignore
[alias]
	co = checkout
	ci = commit
	aa = add --all
	br = branch
    gr = log --graph --all --color --pretty='%x09%h %cn%x09%s %Cred%d%Creset'
    st = status
[color]
	ui = auto
